#file types
_ReSharper.*
*.resharper
*.DS_Store
*.tlog
*.vsp
*.psess
*.v11.suo
*.user
*.suo
#*.Framework.XML

#specific files
RockJobSchedulerService.Xml
web.[Cc]onnectionStrings.config
desktop.ini
Rock.XML
pageviews.csv
RockLogster.csv
Quartz.xml
StyleCop.Cache

#specific folders
[Oo]bj/
RockWeb/Cache/*
RockWeb/App_Data/PackageStaging
/scaffolding.config
/Build/*
node_modules
.remote/*
RockWeb/Plugins/com_centralaz
RockWeb/Plugins/cc_newspring/AttendedCheckin
RockWeb/Plugins/cc_newspring/WorkflowAlert
RockWeb/Plugins/cc_newspring/Blocks
!RockWeb/Plugins/cc_newspring/Shared


RockWeb/Themes/Fuse
RockWeb/Themes/KidSpring
RockWeb/Themes/KioskStark/*
RockWeb/Themes/NewSpring
RockWeb/Themes/Workflows
RockWeb/Themes/cc.*
RockWeb/Themes/Readme.md
cc.*
com.centralaz.*
*.sln.GhostDoc.xml
