#file types
_ReSharper.*
*.resharper
*.DS_Store
*.tlog
*.vsp
*.psess
*.v11.suo
*.user
*.suo
#*.Framework.XML

#specific files
RockJobSchedulerService.Xml
web.[Cc]onnectionStrings.config
desktop.ini
Rock.XML
pageviews.csv
RockLogster.csv
Quartz.xml
StyleCop.Cache

#specific folders
[Oo]bj/
RockWeb/Cache/*
RockWeb/App_Data/PackageStaging
/scaffolding.config
/Build/*
node_modules
.remote/
RockWeb/Plugins/cc.*
RockWeb/Plugins/*
!RockWeb/Plugins/readme.txt
RockWeb/Themes/Fuse
RockWeb/Themes/KidSpring
RockWeb/Themes/KioskStark
RockWeb/Themes/NewSpring
RockWeb/Themes/Workflows
RockWeb/Themes/cc.*
